@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #72ebeb36;
    color: #222;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    color: #fff;
    padding: 10px 40px;
}

.logo {
  font-family: 'Sour Gummy', cursive;
  color: #ff69b4;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.logo-img {
  width: 40px;      
  height: auto;
  margin-right: 10px;
}

.logo:hover {
    .logo-img{
        transform: translateY(-15%);
        transition: all 0.5s;
    }
}
